.hljs,.coffeescript,.javascript,.javascript,.xml,.tex,.hljs-formula,.xml,.javascript,.xml,.vbscript,.xml,.css,.xml,.hljs-cdata,.xml,.php,.php,.xml{display:block;overflow-x:auto;padding:1em 1.5em;background: #f8f8f8;-webkit-text-size-adjust:none;font-family: Consolas,"courier new";font-size: 16px;border-radius: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.hljs,.coffeescript,.javascript,.javascript,.xml,.tex,.hljs-formula,.xml,.javascript,.xml,.vbscript,.xml,.css,.xml,.hljs-cdata,.xml,.php,.php,.xml,.hljs-tag,.hljs-title,.css .hljs-rule,.css .hljs-value,.aspectj .hljs-function,.css .hljs-function .hljs-preprocessor,.hljs-pragma{color: #505050
}
.hljs-strongemphasis,.hljs-strong,.hljs-emphasis{color: #484848
}
.hljs-bullet,.hljs-blockquote,.hljs-horizontal_rule,.hljs-number,.hljs-regexp,.alias .hljs-keyword,.hljs-literal,.hljs-hexcolor{color:#4472C4}
.hljs-tag .hljs-value,.hljs-code,.css .hljs-class,.hljs-class .hljs-title:last-child{color: #849a5a
}
.hljs-link_url{font-size:80%}
.hljs-emphasis,.hljs-strongemphasis,.hljs-class .hljs-title:last-child,.hljs-typename{font-style:italic}
.hljs-keyword,.ruby .hljs-class .hljs-keyword:first-child,.ruby .hljs-function .hljs-keyword,.hljs-function,.hljs-change,.hljs-winutils,.hljs-flow,.nginx .hljs-title,.tex .hljs-special,.hljs-header,.hljs-attribute,.hljs-symbol,.hljs-symbol .hljs-string,.hljs-tag .hljs-title,.hljs-value,.alias .hljs-keyword:first-child,.css .hljs-tag,.css .unit,.css .hljs-important{color:#cb7832}
.hljs-function .hljs-keyword,.hljs-class .hljs-keyword:first-child,.hljs-aspect .hljs-keyword:first-child,.hljs-constant,.hljs-typename,.css .hljs-attribute{color:#cb7832}
.hljs-variable,.hljs-params,.hljs-class .hljs-title,.hljs-aspect .hljs-title{color: #4b4b4b
}
.hljs-string,.css .hljs-id,.hljs-subst,.hljs-type,.ruby .hljs-class .hljs-parent,.hljs-built_in,.django .hljs-template_tag,.django .hljs-variable,.smalltalk .hljs-class,.django .hljs-filter .hljs-argument,.smalltalk .hljs-localvars,.smalltalk .hljs-array,.hljs-attr_selector,.hljs-pseudo,.hljs-addition,.hljs-stream,.hljs-envvar,.apache .hljs-tag,.apache .hljs-cbracket,.tex .hljs-command,.hljs-prompt,.hljs-link_label,.hljs-link_url,.hljs-name{color:#e0c46c}
.hljs-comment,.hljs-annotation,.hljs-pi,.hljs-doctype,.hljs-deletion,.hljs-shebang,.apache .hljs-sqbracket,.tex .hljs-formula{color: #151515
}
.hljs-decorator{color:#bab429}
.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata,.xml .php,.php .xml{opacity:0.5}
blockquote{
    background-color: rgb(247, 247, 247);
    border-radius: 0px;
    border-left: #4b4b4b 3px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

table {
    display: table;
    border-radius: 0px;
    /* border: 2px solid black; */
    border-collapse: collapse;
    margin: 0px;
    width: 100%;
    /*overflow-x: scroll;*/
}
.table-scroll {
    width: 100%;
    overflow-x: scroll;
    border-radius: 0px;
}
.table-scroll::-webkit-scrollbar {
    height: 6px; /* 设置滚动条宽度 */
    /*background-color: #f8f8f8;*/
    background-color: white;
    border-radius: 3px;
}

.table-scroll::-webkit-scrollbar-thumb {
    background-color: #d4d8e8; /* 设置滚动条滑块颜色 */
    border-radius: 3px; /* 设置滚动条滑块的圆角 */
    opacity: .5;
}


td {
    border-radius: 0px;
    /*border: 1.5px solid black;*/
    padding: 5px 10px;
}

tr {
    width: 100%;
    transition: .6s;
}
tr:hover {
    background-color: #fbfbfc;
}

th {
    border-radius: 0px;
    text-align: left;
    padding: 5px 10px;
    /*border: 1.5px solid black;*/
}
.thead:hover {
    background-color: transparent;
}
th, td {
    border-bottom: 1px solid #ddd;
}

.hljs::-webkit-scrollbar {
    height: 6px; /* 设置滚动条宽度 */
    /*background-color: #f8f8f8;*/
    background-color: white;
    border-radius: 3px;
}

.hljs::-webkit-scrollbar-thumb {
    background-color: #d4d8e8; /* 设置滚动条滑块颜色 */
    border-radius: 3px; /* 设置滚动条滑块的圆角 */
    opacity: .5;
}


