<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.dao.ProductDAO">  <!--namespace是与接口化相关的接口-->
    <!--查询-->
    <resultMap type="com.hyh.pojo.Product" id="productSet">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="price" property="price"/>
    </resultMap>
    <!--通过id查询-->
    <select id="mybatisList" resultType="com.hyh.pojo.Product">
        select * from product
    </select>

    <!--查询所有-->
    <select id="getAll" resultType="com.hyh.pojo.User">
        SELECT * FROM mybatis_user
    </select>

    <!--更新-->
    <update id="update">
        update mybatis_user
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="age != null">age=#{age}</if>
        </set>
        where id=#{id}
    </update>

</mapper>